.img-prof-pic {
    width: 3.5rem;
    height: 3.5rem;
}

.max-vh-100 {
    max-height: 100vh;
}

.w-95 {
    width: 95%;
}

.gutter-stable {
    scrollbar-gutter: stable;
}

.chosen {
    background-color: #DCDEE4;
}

.chosen:hover {
    background-color: #DCDEE4;
}

.select-none {
    user-select: none;
}
